/********************
CLORS TRYING TO USE
8789C0 - BLUE BELL
E8FCC2 - TEA GREEN
111D4A - SPACE CADET
049A8F - PERSIAN GREEN
E1FAF9 - LIGHT CYAN
**************************/
/* global ******************/
html
{
  box-sizing: border-box;
}
*, *:before, *:after
{
  box-sizing: inherit;
}
body{
    background:#E1FAF9;
}
/* header ***************/

header
{
    background:#049A8F;
}
.top_menu 
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu li {
    list-style-type: none;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color: #E1FAF9;
    padding: 30%;
    margin: 1.5rem 1.2rem;
}
.menu li:last-of-type
{
    margin-right: 30px;
}
.menu li a:hover
{
    background: #E1FAF9;
    color: #049A8F;  
}

